h1 {
    color: red;
    /*color: green !important ; */
    color: blueviolet;
}
img  {height: 300px;
width: auto;
}
body {
    background-color: rgb(173, 161, 53);
}
/* KOMMMENTAASR */

.klass {
   /* annab 10p */
}

#id {
    /* annab 100p */
}
/* inline style annab 1000p */
/*!important annab 10000p */

header {
    background-color: red;
}
 
nav{
    background-color: green;
}

section {
    background-color: orangered;
    float: left;
    width: 60%;

}

article {
    background-color:greenyellow;
    margin: 15px;
    padding: 15px;
}

aside {
    background-color: orange;
    
    background-image: url(https://www.fcbarcelonanoticias.com/uploads/s1/12/72/53/9/messi-neymar-mbappe.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    float: right;
    width: 40%;
}
footer {
    background-color: rgb(127, 0, 139);
    width: 100%;
    float: left;
}